.header{
  text-align: center;
}
.Aug_29{
  width: 800px;
  padding: 0.5em 1em;
  color: #5d627b;
  margin: 30px auto;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.Aug_21{
  width: 800px;
  padding: 0.5em 1em;
  color: #5d627b;
  margin: 30px auto;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.links {
  text-align: center;
}

.footer{
  text-align: center;
  font-size: small;
}
